<!DOCTYPE html>
<html>
	<% include head %>
  <body>
		<% include nav %>
		<main>
			<h1>
				<%= name %>
				<small>
					(<%= gender %>)
				</small>
			</h1>
			<div>
				<p>
					Birth Year: <%= birth_year %>
					<br />
					Height: <%= height %>
					<br />
					Mass: <%= mass %>
					<br />
					Hair: <%= hair_color %>
					<br />
					Eyes: <%= eye_color %>
					<br />
					Skin: <%= skin_color %>
				</p>
			</div>
    </main>
  </body>
</html>
